.net_assets_main{
    width: 400px;
    height: 215px;
    background-color: white;
    border-radius: 15px;
}
.connected_apps_main{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
}
.graph_main{
    width: 500px;
    height: 650px;
    background-color: white;
    border-radius: 15px;
}